       <header> 
       <!-- START #top-header -->
        <div id="top-header">
          <div class="container">
            <div class="row top-row">
              <div class="col-md-6">
                <div class="left-part alignleft">
                  <span class="contact-email small">support@planyourtours.com</span>
                  <span class="contact-phone small">+91 973 072 7914</span>
                  <ul class="social-media header-social">
                    <li><a class="sm-facebook" href="#"><span>Facebook</span></a></li>
                    <li><a class="sm-rss" href="#"><span>RSS</span></a></li>
                    <li><a class="sm-flickr" href="#"><span>Flicker</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-part alignright">
                  <form action="#" method="get">
                    <fieldset class="alignright">
                      <input type="text" name="s" class="search-input" value="Search..." onfocus="if (this.value == 'Search...') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Search...'; }" />
                      <input type="submit" name="submit" class="search-submit" value="" />
                    </fieldset>
                  </form>
                  <span class="top-link small">Tell a Friend</span>
                  <span class="top-link small">Bookmark</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END #top-header -->
        <!-- START #main-header -->
        <div id="main-header">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <a id="site-logo" href="#">
                  <img src="{echo CDN}img/logo.png" alt="Travel Hub" />
                </a>
              </div>
              <div class="col-md-9">
                <nav class="main-nav">
                  <span>MENU</span>
                  <ul id="main-menu">
                    <li><a href="/home" title="Go  to Home page">HOME</a>
                    </li>
                    <li><a href="/blog" title="Read Blogs">BLOG</a>
                    </li>
                    <li><a href="/gallery" title="Watch Photos">GALLERY</a>
                    </li>
                    <li><a href="/packages" title="View Packages">PACKAGES</a>
                    </li>                   
                    <li><a href="/deals" title="Todays offer">BEST DEALS</a>
                    </li>
                    <li><a title="Contact" href="/contact">CONTACT</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- END #main-header -->
      </header>
      <!-- END header -->
