			<!-- START .main-contents -->
			<div class="main-contents">
				<div class="container">
					<div class="row">
						<!-- START #page -->
						<div id="page" class="col-md-8">
							<!-- GOOGLE MAP -->
							<section id="contactMap">
								<iframe src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=uk&amp;aq=&amp;sll=18.312811,-4.306641&amp;sspn=46.292419,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=United+Kingdom&amp;ll=52.352119,-2.647705&amp;spn=0.685471,1.352692&amp;t=p&amp;z=10&amp;output=embed"></iframe>							
							</section>
							
							<!-- START #contactForm -->
							<section id="contactForm">
								<h2 class="ft-heading text-upper">If You need further details - Please write us</h2>
								<form action="contact.php" method="post">
									<fieldset>
										<ul class="formFields list-unstyled">
											<li class="row">
												<div class="col-md-6">
													<label>Name <span class="required small">(Required)</span></label>
													<input type="text" class="form-control" name="name" value="" />
												</div>
												<div class="col-md-6">
													<label>Email <span class="required small">(Required)</span></label>
													<input type="text" class="form-control" name="email" value="" />
												</div>
											</li>
											<li class="row">
												<div class="col-md-12">
													<label>Subject <span class="required small">(Required)</span></label>
													<input type="text" class="form-control" name="subject" value="" />
												</div>
											</li>
											<li class="row">
												<div class="col-md-12">
													<label>Message <span class="required small">(Required)</span></label>
													<textarea class="form-control"></textarea>
												</div>
											</li>
											<li class="row">
												<div class="col-md-12">
													<input type="submit" class="btn btn-primary btn-lg text-upper" name="submit" value="Submit" />
													<span class="required small">*Your email will never published.</span>
												</div>
											</li>
										</ul>
									</fieldset>
								</form>
							</section>
							<!-- END #contactForm -->
						</div>
						<!-- END #page -->
						
						<!-- START #sidebar -->
						<aside id="sidebar" class="col-md-4">
							<div class="sidebar-widget">
								<!-- Sidebar Social Icons -->
								<ul class="sidebar-social list-unstyled">
									<li class="facebook">
										<a href="#">
											<span class="sc-count text-center">28,096</span>
											<span class="sc-text text-center">fans &amp; likes</span>
										</a>
									</li>
									<li class="twitter">
										<a href="#">
											<span class="sc-count text-center">8,096</span>
											<span class="sc-text text-center">Followers</span>
										</a>
									</li>
									<li class="rss">
										<a href="#">
											<span class="sc-count text-center">12,096</span>
											<span class="sc-text text-center">Subscribers</span>
										</a>
									</li>
								</ul>
							</div>
							
							<div class="sidebar-widget">
								<!-- Sidebar Contact info -->
								<div class="styled-box gray">
									<h3 class="text-upper">Contact Us</h3>
									<p>We're very approachable and would love to speak to you. Feel free to call, send us an email, Tweet us or simply complete the enquiry form.</p>
									<ul class="contact-info list-unstyled">
										<li class="ct-phone">+44 - 123 - 4567890</li>
										<li class="ct-email">info@travelhub.com</li>
										<li class="ct-facebook">www.facebook.com/travelhub</li>
										<li class="ct-twitter">#travelhub</li>
									</ul>
								</div>
							</div>
							
							<div class="sidebar-widget">
								<!-- Sidebar Search -->
								<div class="styled-box gray">
									<h3 class="text-upper">Search</h3>
									<form action="#" method="get">
										<input type="text" name="s" class="form-control input-style1 marb20" value="Enter keyword for search" onfocus="if (this.value == 'Enter keyword for search') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Enter keyword for search'; }" />
										<input type="submit" name="submit" class="btn btn-primary text-upper marb20" value="Search" />
									</form>
								</div>
							</div>
						</aside>
						<!-- END #sidebar -->
					</div>
					<!-- END .row -->
				</div>
			</div>
			<!-- END .main-contents -->