<!-- START .main-contents -->
<div class="main-contents">
    <div class="container">
        <div class="row">
            <!-- START 2 columns gallery -->
            <ul class="gallery-list list-unstyled">
                <li class="col-md-6">
                    <div class="gal-item">
                        <iframe src="http://player.vimeo.com/video/44867610?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" height="313"></iframe>
                    </div>
                </li>

                <li class="col-md-6">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-1.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-1.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>
            </ul>
            <!-- END 2 columns gallery -->
        </div>
        <!-- END .row -->

        <div class="row">
            <!-- START 3 columns gallery -->
            <ul class="gallery-list list-unstyled">
                <li class="col-md-4">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-2.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-2.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-4">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-3.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-3.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-4">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-4.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-1.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-4">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-5.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-2.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-4">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-6.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-3.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-4">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-7.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-1.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>
            </ul>
            <!-- END 3 columns gallery -->
        </div>
        <!-- END .row -->

        <div class="row">
            <!-- START 4 columns gallery -->
            <ul class="gallery-list list-unstyled">
                <li class="col-md-3">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-8.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-2.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-3">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-9.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-3.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-3">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-10.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-1.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-3">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-11.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-2.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-3">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-12.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-3.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-3">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-13.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-1.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-3">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-14.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-2.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>

                <li class="col-md-3">
                    <div class="gal-item">
                        <img class="img-responsive" src="{echo CDN}img/gallery-image-15.jpg" alt="Gallery Image" />
                        <a class="item-overlay" href="{echo CDN}img/gallery-slide-3.jpg">
                        <img src="{echo CDN}img/icons/gal-zoom-icon.png" alt="" />
                        <span class="item-text text-center">Similar to our talked about 'no shoes' policy our business cards...</span>
                        </a>
                    </div>
                </li>
            </ul>
            <!-- END 4 columns gallery -->
        </div>
        <!-- END .row -->

        <!-- START .pagination -->
        <ul class="pagination">
            <li><a href="#">&lsaquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">&rsaquo;</a></li>
        </ul>
        <!-- END .pagination -->
    </div>
</div>
<!-- END .main-contents -->